@{
    Layout = "~/Views/Store/_Layout.cshtml";
}
<div class="text-center m-4">
    <h2>Дякую!</h2>
    <p>Дякую за замовлення!</p>
    <p>Ми вам зателефонуємо.</p>
    <a asp-action="Index" asp-controller="Store" class="btn btn-primary">Ок</a>
</div>