@model PagedList<Category>

<div class="container-fluid mt-4">
    <div class="row no-gutters">
        <div class="col mt-1">
            <button form="pageform" name="category" value="0" type="submit"
                    class="btn btn-block @(ViewBag.SelectedCategory == 0 ? "btn-primary":"btn-outline-primary")">
                Все
            </button>
        </div>
    </div>



    @foreach (Category c in Model)
    {
            <div class="row no-gutters">
                <div class="col mt-1">
                    <button form="pageform" name="category" value="@c.Id" type="submit"
                    class="btn blockquote @(ViewBag.SelectedCategory == c.Id ? "btn-primary":"btn-outline-primary")">
                    @c.Name
                    </button>
                </div>
            </div>
    }
    
</div>